Here I use pandas for import csv Dataset and also for analyze and clean it..

In [32]:
import pandas as pd
df=pd.read_csv("Titanic-Dataset.csv")

In [33]:
print(df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

Start analyzing of data..
used pandas methods are->
1)df.head()->analyaze first 5 rows..
2)df.tail()->analyaze last 5 rows..
3)df.info()->It give the information about dataset..
4)df.describe()->It describe complete dataset..

In [34]:
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [35]:
print(df.tail())

     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

In [ ]:
print(df.info())

In [ ]:
print(df.describe())

Start Cleaning of data..
used pandas methods are->
1)df.isnull()-->True if Null else give false..

In [ ]:
print(df.isnull())

Give number of null values in each column..

In [ ]:
print(df.isnull().sum())

fill all Null values by mean of complete age column..

In [ ]:
df["Age"] = df["Age"].fillna(df["Age"].mean())

recheck all columns..

In [ ]:
print(df.isnull().sum())

use maximum replated value in place of null.

In [ ]:
df["Embarked"] = df["Embarked"].fillna(df["Embarked"].mode()[0])

recheck all columns..

In [ ]:
print(df.isnull().sum())

Cabin column is useless so we remove it.

In [ ]:
df.drop(columns=["Cabin"], inplace=True)

recheck all columns..

In [ ]:
print(df.isnull().sum())

Who survived more: males or females?
-->Females are servived more than males.

In [ ]:
df.groupby("Sex")["Survived"].mean()

Did passenger class affect survival chances?
-->Yes

In [ ]:
df.groupby("Pclass")["Survived"].mean()

In [ ]:
bins = [0, 12, 18, 35, 60, 100]
labels = ["Child", "Teen", "Young Adult", "Adult", "Senior"]
df["AgeGroup"] = pd.cut(df["Age"], bins=bins, labels=labels)
df.groupby("AgeGroup", observed=True)["Survived"].mean()

From here we start Visualizing of data by using Seaborn / Matplotlib:

Bar chart of survival by gender.

In [ ]:
import matplotlib.pyplot as plt

survival_by_gender = df.groupby("Sex")["Survived"].mean()
plt.figure()
plt.bar(survival_by_gender.index, survival_by_gender.values)
plt.xlabel("Gender")
plt.ylabel("Survival Rate")
plt.title("Survival Rate by Gender")
plt.show()

Bar chart of survival by class.

In [ ]:
survival_by_class = df.groupby("Pclass")["Survived"].mean()
plt.figure()
plt.bar(survival_by_class.index.astype(str), survival_by_class.values)
plt.xlabel("Passenger Class")
plt.ylabel("Survival Rate")
plt.title("Survival Rate by Passenger Class")
plt.show()

Histogram of passenger ages.

In [ ]:
plt.figure()
plt.hist(df["Age"], bins=20)
plt.xlabel("Age")
plt.ylabel("Number of Passengers")
plt.title("Distribution of Passenger Ages")
plt.show()